<?lc if request:has_attribute("_error") then ?><div class="error">
    ${_html(request:attribute("_error"))}
</div><?lc end ?>
<div>
    <a href="role-edit">Create a new role...</a>
</div>
<table>
  <thead>
  <tr>
    <th>
      Role
    </th>
    <th>
      Allowed
    </th>
  </tr>
  </thead>
  <tbody>
  <?lc if roles and table.getn(roles) > 0 then ?>
    <?lc for h, role in ipairs(roles) do ?>
    <tr>
      <td><a href="${role:pkey()}/role-edit">${_html(role:name())}</a></td>
      <td><?lc for i, allowed in ipairs(role:allowed()) do ?>${i == 1 and "" or ", "}${_html(allowed)}<?lc end ?></td>
    </tr>
    <?lc end ?>
  <?lc else ?>
    <tr><td colspan="2">No roles found.</td></tr>
  <?lc end ?>
  </tbody>
</table>
