<?lc if request:has_attribute("_error") then ?><div class="error">${request:attribute("_error")}</div><?lc end ?>
<article>
<h2>Editing ${user:name() == "" and "New User" or user:name()}</h2>
<form method="POST" action="${request:original_request_file()}">
    <div class="input">
        <label>Name</label>
        <input type="text" name="name" value="${user:name()}" />
    </div>
    <div class="input">
        <label>Logins</label>
        <?lc for h, login in ipairs(user:logins()) do ?><input name="login" value="${login}" type="text" />
        <?lc end ?>
        <input name="login" type="text" />
    </div>
    <div class="input">
        <label>AIM Screen Name</label>
        <input name="aim" type="text" value="${user:aim()}" />
    </div>
    <div class="input">
        <label>Login Count</label>
        <span>${user:login_count()}</span>
    </div>
    <div class="input">
        <label>Role</label>
        <select name="role">
            <?lc for h, role in ipairs(roles) do ?><option value="${role:pkey()}">${role:name()}</option>
            <?lc end ?>
        </select>
    </div>
    <div class="buttons">
        <input value="Save" type="submit" />
    </div>
</form>
</article>
